STRINGTABLE
{
10000, "Символы отношений"
10001, "Пробелы и многоточия"
10002, "Надстрочные знаки"
10003, "Операторы"
10004, "Стрелки"
10005, "Логические символы"
10006, "Символы теории множеств"
10007, "Разные символы"
10008, "Греческие буквы(строчные)"
10009, "Греческие буквы(прописные)"
10010, "Шаблоны скобок"
10011, "Шаблоны дробей и радикалов"
10012, "Шаблоны верхних и нижних индексов"
10013, "Шаблоны сумм"
10014, "Шаблоны интегралов"
10015, "Шаблоны надчеркивания и подчеркивания"
10016, "Шаблоны стрелок с текстом"
10017, "Шаблоны произведений и символов теории множеств"
10018, "Шаблоны матриц"

10100, "Меньше или равно"
10101, "Больше или равно"
10102, "Предшествует(частичный порядок)"
10103, "Следует(частичный порядок)"
10104, "Нормальная подгруппа"
10105, "Нормальная подгруппа"
10106, "Не равно"
10107, "Тождественно"
10108, "Приближенно равно"
10109, "Конгруэнтно"
10110, "Пропорционально"

10200, "Символ выравнивания"
10201, "Нулевой пробел"
10202, "Пробел 1 пт"
10203, "Короткий пробел(шестая часть длинного пробела)"
10204, "Средний пробел(треть длинного пробела)"
10205, "Длинный пробел"
10206, "Многоточие"
10207, "Горизонтальное многоточие"
10208, "Вертикальное многоточие"
10209, "Диагональное многоточие вверх"
10210, "Диагональное многоточие вниз"

10300, "Надстрочные знаки отсутствуют"
10301, "Зачеркивание"
10302, "Косая черта"
10303, "Штрих"
10304, "Два штриха"
10305, "Три штриха"
10306, "Точка"
10307, "Две точки"
10308, "Три точки"
10309, "Черта"
10310, "Крышка"
10311, "Тильда"
10312, "Стрелка вправо"
10313, "Стрелка влево"
10314, "Двунаправленная стрелка"
10315, "Гарпун вправо"
10316, "Гарпун влево"
10317, "Дужка вверх"
10318, "Дужка вниз"
10319, "Обратный штрих"

10400, "Плюс-минус"
10401, "Минус-плюс"
10402, "Умножить"
10403, "Разделить"
10404, "Математическая звездочка"
10405, "Математическая точка"
10406, "Композиция"
10407, "Маркер"
10408, "Прямое произведение"
10409, "Прямая сумма"
10410, "Угол влево"
10411, "Угол вправо"

10500, "Стрелка вправо"
10501, "Стрелка влево"
10502, "Двусторонняя горизонтальная стрелка"
10503, "Стрелка вверх"
10504, "Стрелка вниз"
10505, "Вертикальная двунаправленная стрелка"
10506, "Двойная стрелка вправо"
10507, "Двойная стрелка влево"
10508, "Двойная двусторонняя горизонтальная стрелка"
10509, "Двойная стрелка вверх"
10510, "Двойная стрелка вниз"
10511, "Двойная вертикальная двунаправленная стрелка"
10512, "Отобразить на"
10513, "Возврат каретки"

10600, "Следовательно"
10601, "Так как"
10602, "Такой, что"
10603, "Существует"
10604, "Для каждого"
10605, "Логическое НЕ"
10606, "Логическое И"
10607, "Логическое ИЛИ"

10700, "Принадлежит"
10701, "Не принадлежит"
10702, "Объединение"
10703, "Пересечение"
10704, "Объединение"
10705, "Пересечение"
10706, "Является подмножеством"
10707, "Является множеством"
10708, "Подмножество"
10709, "Множество"
10710, "Не является подмножество"
10711, "Пустое множество"

10800, "Частный диффиренциал"
10801, "Градиент"
10802, "Бесконечность"
10803, "Готическая I"
10804, "Готическая R"
10805, "Алеф"
10806, "Угол"
10807, "Перпендикулярно"
10808, "Ромб"
10809, "Рукописная l"
10810, "Эллиптический символ Вейерштрасса"
10811, "Градус"
10812, "h с чертой"
10813, "Ламбда с чертой"
10814, "Интеграл"
10815, "Сумма"
10816, "Произведение"
10817, "Сопроизведение"

10900, "Альфа(строчная)"
10901, "Бета(строчная)"
10902, "Хи(строчная)"
10903, "Дельта(строчная)"
10904, "Эпсилон(строчная)"
10905, "Фи(строчная)"
10906, "Альтернативная фи(строчная)"
10907, "Гамма(строчная)"
10908, "Эта(строчная)"
10909, "Йота(строчная)"
10910, "Каппа(строчная)"
10911, "Ламбда(строчная)"
10912, "Мю(строчная)"
10913, "Ню(строчная)"
10914, "Омикрон(строчная)"
10915, "Пи(строчная)"
10916, "Альтернативная омега(строчная)"
10917, "Тета(строчная)"
10918, "Альтернативная тета(строчная)"
10919, "Ро(строчная)"
10920, "Сигма(строчная)"
10921, "Альтернативная сигма(строчная)"
10922, "Тау(строчная)"
10923, "Ипсилон(строчная)"
10924, "Омега(строчная)"
10925, "Кси(строчная)"
10926, "Пси(строчная)"
10927, "Дзета(строчная)"

11000, "Альфа(прописная)"
11001, "Бета(прописная)"
11002, "Хи(прописная)"
11003, "Дельта(прописная)"
11004, "Эпсилон(прописная)"
11005, "Фи(прописная)"
11006, "Гамма(прописная)"
11007, "Эта(прописная)"
11008, "Йота(прописная)"
11009, "Каппа(прописная)"
11010, "Ламбда(прописная)"
11011, "Мю(прописная)"
11012, "Ню(прописная)"
11013, "Омикрон(прописная)"
11014, "Пи(прописная)"
11015, "Тета(прописная)"
11016, "Ро(прописная)"
11017, "Сигма(прописная)"
11018, "Тау(прописная)"
11019, "Ипсилон(прописная)"
11020, "Омега(прописная)"
11021, "Кси(прописная)"
11022, "Пси(прописная)"
11023, "Дзета(прописная)"

11100, "Круглые скобки"
11101, "Квадратные скобки"
11102, "Фигурные скобки"
11103, "Угловые скобки"
11104, "Вертикальные скобки(абсолютное значение, детерминант и т.п.)"
11105, "Двойные вертикальные скобки(норма)"
11106, "Полуквадратные скобки"
11107, "Полуквадратные скобки"
11108, "Скобки, обозначающие тип интервала"
11109, "Скобки, обозначающие тип интервала"
11110, "Скобки, обозначающие тип интервала"
11111, "Скобки, обозначающие тип интервала"
11112, "Скобки, обозначающие тип интервала"
11113, "Верхняя горизонтальная фигурная скобка"
11114, "Нижняя горизонтальная фигурная скобка"
11115, "Открывающая круглая скобка"
11116, "Закрывающая круглая скобка"
11117, "Открывающая квдратная скобка"
11118, "Закрывающая квдратная скобка"
11119, "Открывающая фигурная скобка"
11120, "Закрывающая фигурная скобка"
11121, "Открывающая угловая скобка"
11122, "Закрывающая угловая скобка"
11123, "Открывающая вертикальная скобка"
11124, "Закрывающая вертикальная скобка"
11125, "Открывающая двойная вертикальная скобка"
11126, "Закрывающая двойная вертикальная скобка"
11127, "Вертикальная и угловая скобки"
11128, "Угловая и вертикальная скобки"
11129, "Вертикальная скобка в угловых скобках"

11200, "Вертикальная дробь обычного размера"
11201, "Вертикальная дробь уменьшенного размера"
11202, "Вертикальная дробь обычного размера"
11203, "Вертикальная дробь уменьшенного размера"
11204, "Дробь с косой чертой"
11205, "Квадратный корень"
11206, "Корень n-й степени"
11207, "Длинное деление"
11208, "Длинное деление с частным"

11300, "Верхний индекс"
11301, "Нижний индекс"
11302, "Верхний и нижний индексы"
11303, "Верхний индекс слева"
11304, "Нижний индекс слева"
11305, "Верхний и нижний индексы слева"
11306, "Индекс сверху"
11307, "Индекс снизу"
11308, "Индекс сверху и снизу"
11309, "Оператор с верхним индексом"
11310, "Оператор с нижним индексом"
11311, "Оператор с верхним и нижним индексами"
11312, "Индекс над оператором"
11313, "Индекс под оператором"
11314, "Индекс над и под оператором"

11400, "Сумма без пределов"
11401, "Сумма с нижним пределом"
11402, "Сумма с пределами"
11403, "Сумма с нижним индексом"
11404, "Сумма с верхним и нижним индексами"

11500, "Неопределенный интеграл(без пределов)"
11501, "Определенный интеграл с верхним и нижним пределами"
11502, "Определенный интеграл с верхним и нижним индексами"
11503, "Неопределенный интеграл(без пределов)"
11504, "Интеграл с нижним пределом"
11505, "Интеграл с нижним индексом"
11506, "Двойной неопределенный интеграл"
11507, "Двойной интеграл с нижним пределом"
11508, "Двойной интеграл с нижним индексом"
11509, "Тройной неопределенный интеграл"
11510, "Тройной интеграл с нижним пределом"
11511, "Тройной интеграл с нижним индексом"
11512, "Неопределенный интеграл по контуру"
11513, "Интеграл по контуру с нижним пределом"
11514, "Интеграл по контуру с нижним индексом"
11515, "Неопределенный интеграл по площади"
11516, "Интеграл по площади с нижним пределом"
11517, "Иинтеграл по площади с нижним индексом"
11518, "Неопределенный интеграл по объему"
11519, "Интеграл по объему с нижним пределом"
11520, "Интеграл по объему с нижним индексом"

11600, "Черта сверху"
11601, "Двойная черта сверху"
11602, "Черта снизу"
11603, "Двойная черта снизу"
11604, "Стрелка вправо сверху"
11605, "Стрелка влево сверху"
11606, "Двусторонняя стрелка сверху"
11607, "Стрелка вправо снизу"
11608, "Стрелка влево снизу"
11609, "Двусторонняя стрелка снизу"

11700, "Стрелка вправо с текстом сверху"
11701, "Стрелка влево с текстом сверху"
11702, "Двунаправленная стрелка с текстом сверху"
11703, "Стрелка вправо с текстом снизу"
11704, "Стрелка влево с текстом снизу"
11705, "Двунаправленная стрелка с текстом снизу"

11800, "Неопределенное произведение"
11801, "Произведение с нижним пределом"
11802, "Произведение с нижним и верхним пределами"
11803, "Произведение с нижним индексом"
11804, "Произведение с нижним и верхним индексом"
11805, "Неопределенное сопроизведение"
11806, "Сопроизведение с нижним пределом"
11807, "Сопроизведение с нижним и верхним пределами"
11808, "Сопроизведение с нижним индексом"
11809, "Сопроизведение с нижним и верхним индексом"
11810, "Неопределенное пересечение"
11811, "Пересечение с нижним пределом"
11812, "Пересечение с нижним и верхним пределами"
11813, "Пересечение с нижним индексом"
11814, "Пересечение с нижним и верхним индексом"
11815, "Неопределенное объединение"
11816, "Объединение с нижним пределом"
11817, "Объединение с нижним и верхним пределами"
11818, "Объединение с нижним индексом"
11819, "Объединение с нижним и верхним индексом"

11900, "Матрица из 1 строки и 2 столбцов"
11901, "Матрица из 2 строк и 1 столбца"
11902, "Матрица из 2 строк и 2 столбцов"
11903, "Матрица из 1 строки и 3 столбцов"
11904, "Матрица из 3 строк и 1 столбца"
11905, "Матрица из 3 строк и 3 столбцов"
11906, "Матрица из 1 строки и 4 столбцов"
11907, "Матрица из 4 строк и 1 столбца"
11908, "Матрица из 4 строк и 4 столбцов"
11909, "Матрица из 1 строки переменного размера"
11910, "Матрица из 1 столбца переменного размера"
11911, "Матрица или таблица переменного размера"


20000, "Relationssymbole"
20001, "Abstande und Ellipsen"
20002, "Ornamente"
20003, "Operator-Symbole"
20004, "Pfeilsymbole"
20005, "Logische Symbole"
20006, "Mengenlehresymbole"
20007, "Verschiedene Symbole"
20008, "Griechische Kleinbuchstaben"
20009, "Griechische Gro?buchstaben"
20010, "Vorlagen fur Klammern"
20011, "Vorlagen fur Bruche und Wurzeln"
20012, "Vorlagen fur Hoch- und Tiefstellungen"
20013, "Vorlagen fur Summenbildungen"
20014, "Vorlagen fur Integrale"
20015, "Vorlagen fur Unter- und Uberstreichungen"
20016, "Vorlagen fur bezeichnete Pfeile"
20017, "Vorlagen fur Produkte und fur die Mengenlehre"
20018, "Vorlagen fur Matrizen"

20100, "Меньше или равно"
20101, "Больше или равно"
20102, "Предшествует(частичный порядок)"
20103, "Следует(частичный порядок)"
20104, "Нормальная подгруппа"
20105, "Нормальная подгруппа"
20106, "Не равно"
20107, "Тождественно"
20108, "Приближенно равно"
20109, "Конгруэнтно"
20110, "Пропорционально"

20200, "Ausrichtungsmarkierung"
20201, "Leerzeichen ohne Breite"
20202, "1-Punkt Leerzeichen"
20203, "Mittleres Leerzeichen"
20204, "Breites Leerzeichen"
20205, "Em-Leerzeichen"
20206, "Horizontale Ellipse"
20207, "Horizontale Auslassung"
20208, "Vertikale Auslassung"
20209, "Diagonale Auslassung von links unten nach rechts oben"
20210, "Diagonale Auslassung von links oben nach rechts unten"

20300, "Надстрочные знаки отсутствуют"
20301, "Зачеркивание"
20302, "Косая черта"
20303, "Штрих"
20304, "Два штриха"
20305, "Три штриха"
20306, "Точка"
20307, "Две точки"
20308, "Три точки"
20309, "Черта"
20310, "Крышка"
20311, "Тильда"
20312, "Стрелка вправо"
20313, "Стрелка влево"
20314, "Двунаправленная стрелка"
20315, "Гарпун вправо"
20316, "Гарпун влево"
20317, "Дужка вверх"
20318, "Дужка вниз"
20319, "Обратный штрих"

20400, "Плюс-минус"
20401, "Минус-плюс"
20402, "Умножить"
20403, "Разделить"
20404, "Математическая звездочка"
20405, "Математическая точка"
20406, "Композиция"
20407, "Маркер"
20408, "Прямое произведение"
20409, "Прямая сумма"
20410, "Угол влево"
20411, "Угол вправо"

20500, "Стрелка вправо"
20501, "Стрелка влево"
20502, "Двусторонняя горизонтальная стрелка"
20503, "Стрелка вверх"
20504, "Стрелка вниз"
20505, "Вертикальная двунаправленная стрелка"
20506, "Двойная стрелка вправо"
20507, "Двойная стрелка влево"
20508, "Двойная двусторонняя горизонтальная стрелка"
20509, "Двойная стрелка вверх"
20510, "Двойная стрелка вниз"
20511, "Двойная вертикальная двунаправленная стрелка"
20512, "Отобразить на"
20513, "Возврат каретки"

20600, "Следовательно"
20601, "Так как"
20602, "Такой, что"
20603, "Существует"
20604, "Для каждого"
20605, "Логическое НЕ"
20606, "Логическое И"
20607, "Логическое ИЛИ"

20700, "Принадлежит"
20701, "Не принадлежит"
20702, "Объединение"
20703, "Пересечение"
20704, "Объединение"
20705, "Пересечение"
20706, "Является подмножеством"
20707, "Является множеством"
20708, "Подмножество"
20709, "Множество"
20710, "Не является подмножество"
20711, "Пустое множество"

20800, "Частный диффиренциал"
20801, "Градиент"
20802, "Бесконечность"
20803, "Готическая I"
20804, "Готическая R"
20805, "Алеф"
20806, "Угол"
20807, "Перпендикулярно"
20808, "Ромб"
20809, "Рукописная l"
20810, "Эллиптический символ Вейерштрасса"
20811, "Градус"
20812, "h с чертой"
20813, "Ламбда с чертой"
20814, "Интеграл"
20815, "Сумма"
20816, "Произведение"
20817, "Сопроизведение"

20900, "Griechischer Kleinbuchstabe Alpha"
20901, "Griechischer Kleinbuchstabe Beta"
20902, "Griechischer Kleinbuchstabe Chi"
20903, "Griechischer Kleinbuchstabe Delta"
20904, "Griechischer Kleinbuchstabe Epsilon"
20905, "Griechisches Phi"
20906, "Griechisches Phi-Zeichen"
20907, "Griechischer Kleinbuchstabe Gamma"
20908, "Griechischer Kleinbuchstabe Eta"
20909, "Griechischer Kleinbuchstabe Iota"
20910, "Griechischer Kleinbuchstabe Kappa"
20911, "Griechischer Kleinbuchstabe Lamda"
20912, "Griechischer Kleinbuchstabe Mu"
20913, "Griechischer Kleinbuchstabe Nu"
20914, "Griechischer Kleinbuchstabe Omicron"
20915, "Griechischer Kleinbuchstabe Pi"
20916, "Griechischer Kleinbuchstabe Omega"
20917, "Griechischer Kleinbuchstabe Theta"
20918, "Griechisches Theta-Zeichen"
20919, "Griechischer Kleinbuchstabe Rho"
20920, "Griechischer Kleinbuchstabe Sigma"
20921, "Griechischer Kleinbuchstabe Sigma (am Wortende)"
20922, "Griechischer Kleinbuchstabe Tau"
20923, "Griechischer Kleinbuchstabe Upsilon"
20924, "Griechischer Kleinbuchstabe Omega"
20925, "Griechischer Kleinbuchstabe Xi"
20926, "Griechischer Kleinbuchstabe Psi"
20927, "Griechischer Kleinbuchstabe Zeta"

21000, "Griechischer Gro?buchstabe Alpha"
21001, "Griechischer Gro?buchstabe Beta"
21002, "Griechischer Gro?buchstabe Chi"
21003, "Griechischer Gro?buchstabe Delta"
21004, "Griechischer Gro?buchstabe Epsilon"
21005, "Griechischer Gro?buchstabe Phi"
21006, "Griechischer Gro?buchstabe Gamma"
21007, "Griechischer Gro?buchstabe Eta"
21008, "Griechischer Gro?buchstabe Iota"
21009, "Griechischer Gro?buchstabe Kappa"
21010, "Griechischer Gro?buchstabe Lamda"
21011, "Griechischer Gro?buchstabe Mu"
21012, "Griechischer Gro?buchstabe Nu"
21013, "Griechischer Gro?buchstabe Omicron"
21014, "Griechischer Gro?buchstabe Pi"
21015, "Griechischer Gro?buchstabe Theta"
21016, "Griechischer Gro?buchstabe Rho"
21017, "Griechischer Gro?buchstabe Sigma"
21018, "Griechischer Gro?buchstabe Tau"
21019, "Griechischer Gro?buchstabe Upsilon"
21020, "Griechischer Gro?buchstabe Omega"
21021, "Griechischer Gro?buchstabe Xi"
21022, "Griechischer Gro?buchstabe Psi"
21023, "Griechischer Gro?buchstabe Zeta"

21100, "Runde Klammern"
21101, "Eckige Klammern"
21102, "Geschweifte Klammern"
21103, "Spitze Klammern"
21104, "Vertikale Balken (absoluter Wert, Determinanten)"
21105, "Doppelte vertikale Balken (Normwerte)"
21106, "Oben offene Klammern"
21107, "Unten offene Klammern"
21108, "Klammern zur Darstellung verschiedener Intervalle"
21109, "Klammern zur Darstellung verschiedener Intervalle"
21110, "Klammern zur Darstellung verschiedener Intervalle"
21111, "Klammern zur Darstellung verschiedener Intervalle"
21112, "Klammern zur Darstellung verschiedener Intervalle"
21113, "Untere horizontale geschweifte Klammer"
21114, "Obere horizontale geschweifte Klammer"
21115, "Linke runde Klammer"
21116, "Rechte runde Klammer"
21117, "Linke eckige Klammer"
21118, "Rechte eckige Klammer"
21119, "Linke geschweifte Klammer"
21120, "Rechte geschweifte Klammer"
21121, "Linke spitze Klammer"
21122, "Rechte spitze Klammer"
21123, "Vertikaler Balken links"
21124, "Vertikaler Balken rechts"
21125, "Doppelter Balken links"
21126, "Doppelter Balken rechts"
21127, "In der Quantenphysik verwendete Klammern"
21128, "In der Quantenphysik verwendete Klammern"
21129, "In der Quantenphysik verwendete Klammern"

21200, "Вертикальная дробь обычного размера"
21201, "Вертикальная дробь уменьшенного размера"
21202, "Вертикальная дробь обычного размера"
21203, "Вертикальная дробь уменьшенного размера"
21204, "Дробь с косой чертой"
21205, "Квадратный корень"
21206, "Корень n-й степени"
21207, "Длинное деление"
21208, "Длинное деление с частным"

21300, "Верхний индекс"
21301, "Нижний индекс"
21302, "Верхний и нижний индексы"
21303, "Верхний индекс слева"
21304, "Нижний индекс слева"
21305, "Верхний и нижний индексы слева"
21306, "Индекс сверху"
21307, "Индекс снизу"
21308, "Индекс сверху и снизу"
21309, "Оператор с верхним индексом"
21310, "Оператор с нижним индексом"
21311, "Оператор с верхним и нижним индексами"
21312, "Индекс над оператором"
21313, "Индекс под оператором"
21314, "Индекс над и под оператором"

21400, "Summenbildung ohne Grenzwerte"
21401, "Summenbildung mit untergestelltem Grenzwert"
21402, "Summenbildung mit unter- und ubergestelltem Grenzwert"
21403, "Summenbildung mit tiefgestelltem Grenzwert"
21404, "Summenbildung mit hoch- und tiefgestelltem Grenzwert"

21500, "Unbestimmtes Integral (ohne Grenzwerte)"
21501, "Bestimmtes Integral mit unter- und ubergestelltem Grenzwert"
21502, "Bestimmtes Integral mit hoch- und tiefgestelltem Grenzwert"
21503, "Unbestimmtes Integral (ohne Grenzwerte)"
21504, "Integral mit untergestelltem Grenzwert"
21505, "Integral mit tiefgestelltem Grenzwert"
21506, "Doppelintegral ohne Grenzwerte"
21507, "Doppelintegral mit untergestelltem Grenzwert"
21508, "Doppelintegral mit tiefgestelltem Grenzwert"
21509, "Dreifachintegral ohne Grenzwerte"
21510, "Dreifachintegral mit untergestelltem Grenzwert"
21511, "Dreifachintegral mit tiefgestelltem Grenzwert"
21512, "Konturenintegral ohne Grenzwerte"
21513, "Konturenintegral mit untergestelltem Grenzwert"
21514, "Konturenintegral mit tiefgestelltem Grenzwert"
21515, "Flachenintegral ohne Grenzwerte"
21516, "Flachenintegral mit untergestelltem Grenzwert"
21517, "Flachenintegral mit tiefgestelltem Grenzwert"
21518, "Volumenintegral ohne Grenzwerte"
21519, "Volumenintegral mit untergestelltem Grenzwert"
21520, "Volumenintegral mit tiefgestelltem Grenzwert"

21600, "Черта сверху"
21601, "Двойная черта сверху"
21602, "Черта снизу"
21603, "Двойная черта снизу"
21604, "Стрелка вправо сверху"
21605, "Стрелка влево сверху"
21606, "Двусторонняя стрелка сверху"
21607, "Стрелка вправо снизу"
21608, "Стрелка влево снизу"
21609, "Двусторонняя стрелка снизу"

21700, "Стрелка вправо с текстом сверху"
21701, "Стрелка влево с текстом сверху"
21702, "Двунаправленная стрелка с текстом сверху"
21703, "Стрелка вправо с текстом снизу"
21704, "Стрелка влево с текстом снизу"
21705, "Двунаправленная стрелка с текстом снизу"

21800, "Неопределенное произведение"
21801, "Произведение с нижним пределом"
21802, "Произведение с нижним и верхним пределами"
21803, "Произведение с нижним индексом"
21804, "Произведение с нижним и верхним индексом"
21805, "Неопределенное сопроизведение"
21806, "Сопроизведение с нижним пределом"
21807, "Сопроизведение с нижним и верхним пределами"
21808, "Сопроизведение с нижним индексом"
21809, "Сопроизведение с нижним и верхним индексом"
21810, "Неопределенное пересечение"
21811, "Пересечение с нижним пределом"
21812, "Пересечение с нижним и верхним пределами"
21813, "Пересечение с нижним индексом"
21814, "Пересечение с нижним и верхним индексом"
21815, "Неопределенное объединение"
21816, "Объединение с нижним пределом"
21817, "Объединение с нижним и верхним пределами"
21818, "Объединение с нижним индексом"
21819, "Объединение с нижним и верхним индексом"

21900, "Матрица из 1 строки и 2 столбцов"
21901, "Матрица из 2 строк и 1 столбца"
21902, "Матрица из 2 строк и 2 столбцов"
21903, "Матрица из 1 строки и 3 столбцов"
21904, "Матрица из 3 строк и 1 столбца"
21905, "Матрица из 3 строк и 3 столбцов"
21906, "Матрица из 1 строки и 4 столбцов"
21907, "Матрица из 4 строк и 1 столбца"
21908, "Матрица из 4 строк и 4 столбцов"
21909, "Матрица из 1 строки переменного размера"
21910, "Матрица из 1 столбца переменного размера"
21911, "Матрица или таблица переменного размера"
}